{{ define "main" }}
{{ partial "sections/breadcrumbs.html" . }}

<main class="px-6 py-8">
  <div class="container flex justify-between mx-auto">
    <div class="w-full">
      <div class="px-8">
        <div
          class="flex flex-col px-16 py-10 mx-auto bg-white dark:bg-gray-800 text-gray-600 dark:text-gray-200 rounded-xl shadow-md"
          id="article">
          <h1 class="text-center text-vsk1">{{.Title}}</h1>
          {{ .Content }}
          <pre class="mermaid w-full mt-3">
            gantt
            dateFormat YYYY-MM-DD
            section libs
            libvasak-vue (initial) :l1, 2023-12-04, 100d
            python-libvasak (initial) :l2, 2023-12-01, 200d
            section apps
            Occasum (initial) :a4, 2023-12-15, 90d
            Vasak Welcome (initial) :a5, 2024-05-10, 30d
            Vasak Installer (initial) :a6, 2024-03-06, 120d
            section templates
            application-template (fixs) :t1, 2024-03-04, 100d
          </pre>
        </div>
      </div>
    </div>

  </div>
</main>

{{ $roadmap := resources.GetRemote "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js" | minify | fingerprint }}
<script src="{{ $roadmap.RelPermalink }}"></script>


{{ end }}