<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Vasak OS</title>
  <link rel="icon" href="/img/icon.svg" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet" />

  {{- partial "head/style.html" . -}}


  <!-- METADATA -->
  <meta name="author" content="PatoJAD" />
  <meta content='@PatoJADOficial' name='twitter:site' />
  <meta content='@PatoJADOficial' name='twitter:creator' />
  <meta property="og:url" content="https://os.vasak.net.ar{{ .RelPermalink }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:image"
    content='{{ if isset .Params "img" }}{{ .Params.img }}{{else}}/img/hero-fullscreen-bg.jpg{{ end }}' />
  <meta property="og:locale" content="es-ES" />
  <meta name="description"
    content="{{ .Summary }} Vasak OS un sistema operativo basado en Linux pensado para todos los usuarios"
    property="og:description" />

  <meta
    content='{{ range .Params.tags }}{{ . }}, {{ end }} Linux, GNU, LynxOS, Lynx, gnu, lynx, lynxos, arch, arch linux, distro, linux, systemd, nwjs, desktop, lynx desktop, web desktop, lsd, Vasak Group, vasak, vasak os,vasak destop'
    name='keywords' />

  <!-- CANONICAL LINK -->
  <link rel="canonical" href="https://os.vasak.net.ar{{ .RelPermalink }}" />

</head>