{{ define "main" }}

  {{- partial "sections/hero.html" -}}

  <main id="main">
    {{- partial "sections/featured.html" -}}
    {{- partial "sections/about.html" -}}
    {{- partial "sections/clients.html" -}}
    {{- partial "sections/cta.html" -}}
    {{- partial "sections/business.html" -}}
    {{- partial "sections/features.html" -}}
    <!--{{- partial "sections/service.html" -}}-->
    <!--{{- partial "sections/testimonials.html" -}}-->
    {{- partial "sections/prices.html" -}}
    <!--{{- partial "sections/faq.html" -}}-->
    <!--{{- partial "sections/portfolio.html" -}}-->
  </main>

{{ end }}
