@import "tailwindcss";
@import "syntax.css";

:root {
  /* general */
  --corner-radius: 10px;

  /* Colores de Marca */
  --primary: #dd7878;
  --secondary: #8839ef;
  --primary-dark: #eba0ac;
  --secondary-dark: #cba6f7;

  /* Colores de Interfaz (UI) */
  --ui-background: #eff1f5;
  --ui-surface: #ccd0da;
  --ui-border: #dce0e8;
  --ui-background-dark: #1e1e2e;
  --ui-surface-dark: #313244;
  --ui-border-dark: #11111b;

  /* Colores de Texto */
  --text-main: #4c4f69;
  --text-muted: #6c6f85;
  --text-on-primary: #5c5f77;
  --text-main-dark: #cdd6f4;
  --text-muted-dark: #a6adc8;
  --text-on-primary-dark: #cdd6f4;

  /* Status */
  --status-error: #d20f39;
  --status-success: #40a02b;
  --status-warning: #df8e1d;
  --status-error-dark: #f38ba8;
  --status-success-dark: #a6e3a1;
  --status-warning-dark: #f9e2af;

  /* Terminal Colors */
  --terminal-foreground: #4c4f69;
  --terminal-background: #eff1f5;
  --terminal-cursor: #dd7878;
  --terminal-foreground-dark: #dddddd;
  --terminal-background-dark: #1a1a1a;
  --terminal-cursor-dark: #d4885c;

  --terminal-ansi-black: #4c4f69;
  --terminal-ansi-red: #d20f39;
  --terminal-ansi-green: #40a02b;
  --terminal-ansi-yellow: #df8e1d;
  --terminal-ansi-blue: #1e66f5;
  --terminal-ansi-magenta: #8839ef;
  --terminal-ansi-cyan: #04a5e5;
  --terminal-ansi-white: #e6e9ef;

  --terminal-ansi-bright-black: #4c4f69;
  --terminal-ansi-bright-red: #d20f39;
  --terminal-ansi-bright-green: #40a02b;
  --terminal-ansi-bright-yellow: #df8e1d;
  --terminal-ansi-bright-blue: #1e66f5;
  --terminal-ansi-bright-magenta: #8839ef;
  --terminal-ansi-bright-cyan: #04a5e5;
  --terminal-ansi-bright-white: #e6e9ef;

  --terminal-ansi-black-dark: #181825;
  --terminal-ansi-red-dark: #f38ba8;
  --terminal-ansi-green-dark: #a6e3a1;
  --terminal-ansi-yellow-dark: #f9e2af;
  --terminal-ansi-blue-dark: #89b4fa;
  --terminal-ansi-magenta-dark: #eba0ac;
  --terminal-ansi-cyan-dark: #89dceb;
  --terminal-ansi-white-dark: #cdd6f4;

  --terminal-ansi-bright-black-dark: #181825;
  --terminal-ansi-bright-red-dark: #f38ba8;
  --terminal-ansi-bright-green-dark: #a6e3a1;
  --terminal-ansi-bright-yellow-dark: #f9e2af;
  --terminal-ansi-bright-blue-dark: #89b4fa;
  --terminal-ansi-bright-magenta-dark: #eba0ac;
  --terminal-ansi-bright-cyan-dark: #89dceb;
  --terminal-ansi-bright-white-dark: #cdd6f4;

  /* Logic Assignments */
  --use-primary: var(--primary);
  --use-secondary: var(--secondary);
  --use-ui-background: var(--ui-background);
  --use-ui-surface: var(--ui-surface);
  --use-ui-border: var(--ui-border);
  --use-text-main: var(--text-main);
  --use-text-muted: var(--text-muted);
  --use-text-on-primary: var(--text-on-primary);
  --use-status-error: var(--status-error);
  --use-status-success: var(--status-success);
  --use-status-warning: var(--status-warning);
}

.dark {
  /* Override logic assignments in dark mode */
  --use-primary: var(--primary-dark);
  --use-secondary: var(--secondary-dark);
  --use-ui-background: var(--ui-background-dark);
  --use-ui-surface: var(--ui-surface-dark);
  --use-ui-border: var(--ui-border-dark);
  --use-text-main: var(--text-main-dark);
  --use-text-muted: var(--text-muted-dark);
  --use-text-on-primary: var(--text-on-primary-dark);
  --use-status-error: var(--status-error-dark);
  --use-status-success: var(--status-success-dark);
  --use-status-warning: var(--status-warning-dark);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* radius */
  --radius-corner: var(--corner-radius);
  --radius-corner-window: calc(var(--corner-radius) + 2px);

  /* Colores de Marca - responsive a dark mode */
  --color-primary: var(--use-primary);
  --color-secondary: var(--use-secondary);

  /* Colores de Interfaz (UI) - responsive a dark mode */
  --color-ui-bg: var(--use-ui-background);
  --color-ui-surface: var(--use-ui-surface);
  --color-ui-border: var(--use-ui-border);

  /* Colores de Texto - responsive a dark mode */
  --color-tx-main: var(--use-text-main);
  --color-tx-muted: var(--use-text-muted);
  --color-tx-on-primary: var(--use-text-on-primary);

  /* Status - responsive a dark mode */
  --color-status-error: var(--use-status-error);
  --color-status-success: var(--use-status-success);
  --color-status-warning: var(--use-status-warning);
}

::view-transition-old(root) {
  animation-delay: 500ms;
}

::view-transition-new(root) {
  animation: circle-in 500ms;
}

@layer base {
  body {
    @apply text-tx-main bg-ui-surface;
  }

  body * {
    @apply transition-colors duration-300;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: VSKRegular;
  src: url(/fonts/VSKRegular.ttf);
}

#article h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  @apply my-6 font-bold;
}

#article h2 {
  font-size: 1.75rem;
  @apply my-6 text-primary font-bold;
}

#article h3 {
  font-size: 1.5rem;
  @apply my-4 ms-2 text-secondary font-bold;
}

#article h4 {
  font-size: 1.25rem;
  @apply my-4 ms-4 font-bold;
}

#article p,
#article li {
  font-size: 1rem;
  margin-bottom: 1rem;
}

#article a {
  @apply text-primary;
}

#article li {
  list-style: disc;
}

#article ul {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

ol {
  list-style: decimal;
}

li {
  margin-left: 2.5rem;
}

/* Syntax Highlighting Styles */

pre {
  @apply p-4 overflow-x-auto;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  display: block;
  line-height: 1.428571429;
  word-break: break-all;
}

code {
  @apply inline-grid p-0;
  color: unset;
  border: none;
  background: none;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

code::before {
  content: attr(data-lang);
  position: absolute;
  margin-top: -43px;
  color: var(--bg-site);
  margin-left: -30px;
}

pre,
.chroma {
  @apply bg-gray-200 text-gray-800 dark:bg-gray-900 dark:text-white overflow-y-auto;
}

.highlight {
  @apply bg-gray-200 text-gray-800 dark:bg-gray-900 dark:text-white p-1 rounded-corner relative my-4 border-t-24 border-primary;
}

hr {
  @apply my-8 border-t-2 border-gray-200 dark:border-gray-900;
}

.highlight::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f121";
  color: var(--bg-site);
  position: absolute;
  margin-top: -22px;
  margin-left: 5px;
}

.highlight {
  @apply my-2;
  pre {
    @apply text-sm m-0 p-4;

    code {
      @apply bg-none p-0;
    }
  }
}

pre:has(code) {
  @apply p-2 m-4 bg-gray-100 rounded-lg overflow-x-auto;
}

pre {
  code {
    @apply bg-inherit text-sm font-mono;
  }
}

code {
  @apply bg-gray-200 px-1 rounded-md text-green-800;
}

/* BLOCKQUOTES */

blockquote {
  @apply px-6 py-4 rounded-corner bg-gradient-to-r from-secondary to-primary text-white font-semibold my-6 ;
}