<!-- ======= Call To Action Section ======= -->
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-out">

      <div class="row g-5">

        <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
          <h3>Forma parte de esta gran <em>comunidad</em></h3>
          <p>Podes formar parte de esta gran comunidad descargando nuestro sistema y utilizándolo, probándolo, o incluso unirte al desarrollo del mismo. LynxOS lo hacemos entre todos, desde los usuarios hasta los desarrolladores.</p>
          <a class="cta-btn align-self-start" href="/downloads/">Descargar</a>
        </div>

        <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
          <div class="img">
            <img src="/img/community.svg" alt="" class="img-fluid">
          </div>
        </div>

      </div>

    </div>
</section>
<!-- End Call To Action Section -->