{{ define "main" }}

  {{- partial "sections/breadcrumbs.html" . -}}

  <main id="main">
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">

          <div class="col-lg-8">
            <div class="row gy-4 posts-list">
              {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}

              {{ range $paginator.Pages }}

                {{ .Render "card" }}

              {{ end }}

              {{- partial "pagination.html" $paginator -}}
            </div>
          </div>

          <div class="col-lg-4">
            {{ partial "sections/sidebar.html" . -}}
          </div>

        </div>
      </div>
    </section>
  </main>

{{ end }}
