{{ define "main" }}

<main class="px-6 py-8">
  <div class="container flex justify-between mx-auto">
    <div class="w-full">

      {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {{ range $paginator.Pages }}

        <div class="p-2">
          <div class="max-w-4xl h-full px-10 pb-3 pt-20 mx-auto bg-cover bg-center rounded-xl shadow-md"
            style="background-image: url('{{ .Params.img }}');">
            <div class="bg-white/80 dark:bg-gray-900/80 rounded-xl p-3 backdrop-blur-md">
              <div class="flex items-center justify-between">
                <span class="font-light text-gray-600 dark:text-gray-400">
                  {{ partial "date.html" .Date}}
                </span>
              </div>
              <div class="mt-2">
                <a href="{{ .RelPermalink }}"
                  class="text-2xl font-bold text-vsk1 hover:underline">{{
                  .Title }}</a>
                <p class="mt-2 text-gray-600 dark:text-gray-300">{{ .Summary }}</p>
              </div>
              <div class="flex items-center justify-end m-4">
                <a href="{{ .RelPermalink }}" class="text-vsk1 hover:underline">Ver <em class="fas fa-eye"></em></a>
              </div>
            </div>
          </div>
        </div>

        {{ end }}
      </div>

      {{- partial "pagination.html" $paginator -}}

    </div>

  </div>
</main>

{{ end }}