<div class="px-8 w-full">
    <div class="flex flex-col px-6 py-4 mx-auto bg-ui-bg/80 rounded-corner shadow-md">
        <h1 class="mb-4 text-xl font-bold text-tx-main">Publicaciones Recientes</h1>
        {{ with .Site.RegularPages.ByDate.Reverse }}
        {{ range first 4 . }}
        <article
            class="relative w-full h-40 bg-cover bg-center group rounded-corner overflow-hidden shadow-xl hover:shadow-2xl transition duration-300 mb-3 ease-in-out"
            style="background-image: url('{{ .Params.img }}');">
            <div
                class="absolute inset-0 bg-ui-bg/50 group-hover:bg-ui-bg/80 transition duration-300 ease-in-out">
            </div>
            <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                <h3 class="text-center">
                    <a class="text-tx-main text-2xl font-bold text-center" href="{{ .Permalink }}">
                        <span class="absolute inset-0"></span>
                        {{ .Title }}
                    </a>
                </h3>
            </div>
        </article>
        {{ end }}
        {{ end }}

    </div>
</div>