<section id="footer">
  <div class="inner">
    <h2 class="major">LynxOS</h2>
    <p>¡Ayudanos a mejorar! Toda ayuda es buena, y mas cuando sale del corazon. Unite a nuestro proyecto y colabora con nosotros, no necesitas programar, ni diseñar, solo tener ganas...</p>
    <ul class="contact">
      <li class="icon solid fa-home">
      Argentina, Buenos Aires
      </li>
      <li class="icon solid fa-envelope"><a href="mailto:jdecima@disroot.org">jdecima@disroot.org</a></li>
      <li class="icon brands fa-telegram"><a href="https://t.me/PatoJAD">@PatoJAD</a></li>
    </ul>
    <ul class="contact">
      <li class="icon brands fa-twitter"><a href="https://twitter.com/PatoJADOficial">@PatoJADOficial</a></li>
      <li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/PatoJAD/">PatoJAD</a></li>
      <li class="icon brands fa-instagram"><a href="https://www.instagram.com/patojadoficial/">@PatoJADOficial</a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Lynx Software Design <script>document.write(new Date().getFullYear());</script>.</li>
      <li>Design: <a target="_blank" href="https://patojad.com.ar">PatoJAD</a></li>
    </ul>
  </div>
</section>


<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
